# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Distribución
build/
dist/
*.egg-info/

# Logs
*.log

# =====================================
# VS Code
# =====================================

.vscode/

# =====================================
# PyCharm
# =====================================

.idea/

# =====================================
# Sistema Operativo
# =====================================

.DS_Store
Thumbs.db
desktop.ini

# =====================================
# Archivos temporales
# =====================================

*.tmp
*.temp

# =====================================
# Pruebas
# =====================================

.pytest_cache/
.coverage
htmlcov/

# =====================================
# Jupyter
# =====================================

.ipynb_checkpoints/

# =====================================
# Variables de entorno
# =====================================

.env
.env.*

# =====================================
# Ruff / MyPy
# =====================================

.mypy_cache/
.ruff_cache/